.main-chat
  .main-chat__group-info
    .top-main
      .top-main__left
        %p 
          = @group[:name]
      = link_to 'Edit', edit_group_path(@group.id), class: "top-main__right" 
    .top-member
      Member:
      - @group.users.each do |user|
        = user.name

  .main-chat__message-list
    = render @messages
    
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .message-form
        .input
          .input__message
            = f.text_field :content, class: 'message__text', placeholder: 'type a message'
            = f.label :image, class: 'input__image' do
              = icon('far', 'image', class: 'icon__image')
              = f.file_field :image, class: 'message__image'
        = f.submit 'Send', class: 'message-form__btn'
          
