.side-bar
  .side-bar__user-name
    .top-item
      %h3.top-item__name
        = current_user.name
      .top-item__icon
        = link_to new_group_path, class: "icon__btn" do
          = icon('far', 'far fa-edit', class: 'edit')
          %span<>
        = link_to edit_user_path(current_user.id), class: "icon__btn" do
          = icon('fas', 'fas fa-cog', class: 'setting')
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        =link_to '#' do
          .group__name
            = group.name
          .group__message
            %p まだメッセージはありません